html{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding:0;
    color: white;
  }
#top{
    background: linear-gradient(135deg, #52f289, #53d1f1);
    width:100%;
    height:100vh;
    text-align: center;
}
#t2{
    display:flex;
    justify-content: center;
    align-items: center;
}
.topimg{
    position:absolute;
    margin:0;
    padding:0;
}

#earth{
    top:65vh;
    left:5vw;
    width:16vw;
}
#dove{
    top:15vh;
    left:85vw;
    width:18vw;
}
#cross{
    top:70vh;
    left:78vw;
    width:14vw;
}

#title{
    text-align: center;
    padding-top:40px;
    padding-bottom: 1px;
    margin-bottom:0px;
    font-size:60px;
    color:#556AF1;
}
#countdown{
   background: rgba(0,0,0,.7);
   padding: 40px 60px;
   border-radius: 15px;
   box-shadow: 0 15px 25px rgba(0,0,0,.8);
   text-align: center; 
   width: fit-content;
}
#timer{
    font-size: 3rem;
    letter-spacing:3px;
}
.timer-unit{
    font-size: 1.2rem;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-top:10px;
}
.smiley{
    height:20vh;
}
#bottom{
    margin: 0px;
    padding: 0px;
    width:100%;

}
.header-text{
    border-radius: 15px;
    font-size: 2.2rem;
    color:#556AF1;
    text-align: center;
}
.header{
    border: 2px solid grey;
    background-color: #ffffff;
    width: 100vw;
    margin-bottom:0;
    margin-left:0px;
    z-index: 1;
    position:relative;

}
.body{
    display:flex;
    height:fit-content;
    margin:0px;
    margin-top:-10px;
    flex-direction:row;
}
.bodyImageDiv{
    width:40%;
    height:60vh;
    margin:0;
    padding:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #53d1f1;
}
.bodyImage{
    height:40vh;

}
.body-paragraph{
    color:grey;
    font-size:1.3rem;
    margin:60px;
    width:40vw
}
.right{
    margin-left: auto; 
    margin-right: 0;
}
@media(max-width:1000px){
    #earth{
        left:0vw;
        top:80vh;
    }
}
@media(max-width:840px){
    #title{
        font-size: 2.3rem;
        padding-top:3px;
    }
    .timer-unit{
        display:block
    }
    .smiley{
        height:15vh;
    }
    #countdown{
        padding-left:150px;
        padding-right:150px;
    }
    .header{
        font-size:2rem;
    }
    #top{
        height:140vh;
    }
    
    #earth{
        top:80vh;
        left:5vw;
        width:16vw;
    }
    #dove{
        top:26vh;
        left:13vw;
        width:19vw;
    }
    #cross{
        top:55vh;
        left:80vw;
        width:15vw;
    }
}
@media(max-width:650px){
    #title{
        font-size: 2.2rem;
    }
    .body{
        display:block;
    }
.bodyImageDiv{
        width:100vw;
        height:50vh;
    }
    .bodyImage{
        height:40vh;
    }
    .body-paragraph{
        width:80vw;
    }
}
@media(max-width:500px){
    #title{
        font-size: 2rem;
    }
    #timer{
        font-size: 2rem;
    }
    .timer-unit{
        font-size: 1.5rem;
    }
    #countdown{
        padding-left:80px;
        padding-right:80px
    }
    .header{
        font-size:1.5rem;
    }
    #earth{
        top:80vh;
        left:0vw;
        width:24vw;
    }
    #dove{
        top:30vh;
        left:8vw;
        width:31vw;
    }
    #cross{
        width:24vw;
    }
    #title{
        margin-top:0px;
    }
    
}
